.clear {
    clear: both;
}
body, html {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("img/pattern.jpg");
    background-repeat: repeat;
}
.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: rgba(240, 248, 255,.97);
    padding: 20px;
    border: 1px solid grey;
    margin-top: 20px;
}
.header_img img {
    width: 100%;
    height: auto;
}
.header_img {
    height: 200px;
    overflow: hidden;
}
.title {
    width: 40%;
    float: left;
}
.loginarea {
    width: 50%;
    float: right;
    text-align: right;
    margin-top: 20px;
}
input[type="text"] {
    padding-left: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}
.footer {
    min-height: 50px;
    background-color: lightslategray;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    box-sizing: border-box;
}
.footer_left {
    float: left;
    width: 45%;
}
.footer_right {
    float: left;
    width: 45%;
}
body,h1,h2,h3,h4,h5, p {
    font-family: Verdana;
}
h3 {
    padding-top: 0;
    margin-top: 0;
}
.menu li {
    display: inline-block;
    list-style: none;
    padding: 6px 8px;
    background-color: lightslategray;
    color: #fff;
}
.menu ul {
    padding: 0;
    margin: 0;
}
.menu li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.rent_list {
    max-width: 300px;
    box-sizing: border-box;
    background-color: rgba(240, 248, 255,.97);
    padding: 20px;
    border: 1px solid grey;
    position: absolute;
    right: 20px;
    top: 20px;
}
.verleih_id{
    text-align: right;
    padding-left: 15px
}
.rent_list_box {
    background-color: #fff;
    max-height: 50px;
    overflow-y: scroll;
    padding: 5px;
}
.stock_list {
    max-width: 300px;
    box-sizing: border-box;
    background-color: rgba(240, 248, 255,.97);
    padding: 20px;
    border: 1px solid grey;
    position: absolute;
    left: 20px;
    top: 20px;
}
.stock_list_box {
     background-color: rgba(255,255,255,.8);
     max-height: 150px;
     overflow-y: scroll;
     padding: 5px;
 }
.stock_list .book_id{
    text-align: right;
    padding-left: 30px
}
.stock_list_row {
    border-bottom: 1px solid gray;
    padding-bottom: 3px;
}
.stock_list_row .book_title {
    width: 112px;
    display: inline-block;
}
.stock_list_row .book_title a {
    text-decoration: none;
    color: black;
}
.book_detail_table {
    margin-top: 25px;
    background-color: rgba(255,255,255,.8);
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
}
.buch_detail_wrapper {
    float: left;
    width: 600px;
}
.buch_Detail_form_container {
    margin-top: 25px;
    float: left;
    margin-left: 25px;
    width: 300px;
}
.buch_Detail_form h3 {
    margin-bottom: 0;
}
.book_detail_table tr td:first-child {
    font-weight: bold;
}
.book_detail_table tr {
border-bottom: 1px solid grey;
}
.loginarea {
    background-color: rgba(255,255,255,0.8) !important;
}
